# Supabase (get from: https://supabase.com/dashboard/project/_/settings/database)
DATABASE_URL="postgresql://postgres.wxewdiisqiltlaaprfij:KiranRaj%4008@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.wxewdiisqiltlaaprfij:KiranRaj%4008@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"

# Supabase client (get from: https://supabase.com/dashboard/project/_/settings/api)
NEXT_PUBLIC_SUPABASE_URL="https://wxewdiisqiltlaaprfij.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_bcASMV5nRMFyrw-7bNJSUw_JlfBzkrC"

# Upstash Redis (get from: https://console.upstash.com)
UPSTASH_REDIS_REST_URL="https://engaged-guppy-74418.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAASKyAAIgcDJlZWVmMDgwZjM5M2E0ZGFiOWJmMzFhZjA3ZTM5NTM0Zg"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CRON_SECRET="your-secret-for-cron-endpoint"
